.header {
	height: 50px;
	background-color: white;
	position: sticky;
	top: 0;
	z-index: 999;
}

.headerWrapper {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0% 16%;
}

@media screen and (max-width: 575px) {
	.headerWrapper {
		justify-content: space-evenly;
	}
	.projects {
		margin: 0px;
		padding: 0px;
	}
	.headerRight {
		justify-content: space-evenly;
	}
}

.logo {
	height: 40px;
	width: 40px;
}
.headerLeft {
	background-color: aqua;
}
.headerRight {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: blue;
}

.menuItemContainer {
	cursor: pointer;
	margin-right: 20px;
}

.menuItem {
	font-size: 1.4rem;
	text-decoration: none;
	color: black;
}

.menuItem:hover {
	text-decoration: underline;
}
